h1{
    background-color: #7898A2;
    text-align: center;
    border-radius: 10px;
}
img{
    opacity: 80%;
    border-radius: 10px;

}
img:hover{
    opacity: 100%;
}
div{
    float: right;
    margin-top:55px;
    margin-bottom:55px ;
    margin-left: 10px;
    width: 32%;


    
}
.up{
left: 0px;
top: 0px;
background-color: #7898A2;
border-radius: 10px;
position: fixed;
width: 5%;
z-index:5;
text-align: center;
height: 48px;
float: right;
font-size: 22;
text-decoration: none;
color: white;}

.down{
    left: 5px;
    bottom: 0px;
    background-color: #81D3D3;
    border-radius: 10px;
    position: fixed;
    width: 33%;
    z-index:5;
    text-align: center;
    height: 40px;
    float: right;
    font-size: 22;
    text-decoration: none;
    color: white;
}
.center{
    left: 636px;
    bottom: 0px;
    background-color: #81D3D3;
    border-radius: 10px;
    position: fixed;
    width: 33%;
    z-index:5;
    text-align: center;
    height: 40px;
    float: right;
    font-size: 22;
    text-decoration: none;
    color: white;
}
.left{
    right: 5px;
    bottom: 0px;
    background-color: #81D3D3;
    border-radius: 10px;
    position: fixed;
    width: 33%;
    z-index:5;
    text-align: center;
    height: 40px;
    float: right;
    font-size: 22;
    text-decoration: none;
    color: white;
}